<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        html,
        body {
            background-color: #6441a5;
            color: white;
        }

        .update-status {
            font-size: 15px;
            text-align: center;
            padding-bottom: 18px;
        }

        .not-rounded {
            border-radius: 0 !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <span style="font-size: 35px;">Twitch Viewer Notifier</span><br>
        <span style="font-size: 20px;">Created by Wyatt Calandro</span>

        <div class='update-status fixed-bottom' id="updateStatus">
            Checking for updates...
        </div>
        <div style="display: none;" class="fixed-bottom progress not-rounded">
            <div id="updateProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
        </div>
    </div>

    <script>
        window.$ = window.jQuery = require("jquery");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
        if (window.module) module = window.module;

        var ipcRenderer = require('electron').ipcRenderer
        ipcRenderer.on("updateError", (event) => {
            $("#updateStatus").text("Error updating. Starting in 3 seconds...")
        })

        ipcRenderer.on("updateAvailable", (event, version) => {
            $("#updateStatus").text(`Downloading ${version}...`)
        })

        ipcRenderer.on("updateProgress", (event, percent) => {
            $("#updateProgress").width(percent + "%").text((Math.round(percent * 100) / 100) + "%").attr(
                "aria-valuenow", (Math.round(percent * 100) / 100).toString())
        })

        ipcRenderer.on("updateDownloaded", (event, percent) => {
            $("#updateProgress").width("100%").text("100%").attr("aria-valuenow", "100").addClass("bg-success")
            $("#updateStatus").text("Update downloaded. Installing in 5 seconds...")
        })
    </script>
</body>

</html>